$NeonGreen: hsl(150, 100%, 66%);
$Light-cyan: hsl(193, 38%, 86%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(218, 23%, 16%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Manrope, sans-serif;
	color: $Light-cyan;
}

h1 {
	text-transform: uppercase;
	color: $NeonGreen;
	font-size: 16px;
	letter-spacing: 0.2em;
	margin-bottom: 1.5em;
}

article {
	max-width: 500px;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: hsl(219, 19%, 24%);
	border-radius: 1em;
	// padding-bottom: 3.5em;
	padding: 2em 1.5em 3.5em;
	margin: 0 1em;
}

.advice {
	font-size: 28px;
}

.line-break {
	margin-top: 2em;
}

.desktop-divider {
	display: none;
}

.sr-only {
	position: absolute;
	opacity: 0;
}

.dice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5em;
	height: 4.5em;
	border-radius: 50%;
	background-color: $NeonGreen;
	position: absolute;
	bottom: -2em;
	border: none;
	transition: box-shadow 1s ease;
	animation-name: dice-spin;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-play-state: paused;
	svg {
		animation: dice-spin 20s linear infinite forwards;
		animation-play-state: running;
	}
}

.dice:hover {
	cursor: pointer;
	box-shadow: 0 0 2em $NeonGreen;
	animation-play-state: running;
}

@keyframes dice-spin {
	100% {
		transform: rotate(360deg);
	}
}

.attribution {
	position: fixed;
	bottom: 10px;
	color: $Light-cyan;
	a {
		color: $NeonGreen;
		text-decoration: none;
		transition: all 1s ease;
		animation: glow 2s linear infinite forwards paused;
	}
	a:hover {
		text-decoration: overline;
		animation-play-state: running;
	}
}

@keyframes glow {
	0% {
		color: $NeonGreen;
	}
	50% {
		color: $Light-cyan;
	}
	100% {
		color: $NeonGreen;
	}
}

@media screen and (min-width: 600px) {
	.desktop-divider {
		display: block;
	}
	.mobile-divider {
		display: none;
	}
	article {
		padding: 2em 2em 3.5em;
	}
}